<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<div>
    <button onclick="toAddPage()">添加</button>
</div>
<div><input class="search-input" type="text" value="<%=kw%>">
    <button onclick="search()">查询</button>
</div>
<div>
    <table border>
        <thead>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% list.forEach(item=>{ %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.sex %></td>
                <td><%= item.age %></td>
                <td>
                    <button onclick="toEditPage('<%= item.name %>')">编辑</button>
                    <button onclick="remove('<%= item.name %>')">删除</button>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</body>
<script>
    const si = document.querySelector('.search-input')

    // 跳转到添加页
    function toAddPage() {
        location.href = '/add.html'
    }

    // 跳转到编辑页
    function toEditPage(name) {
        location.href = '/edit.html?name=' + name
    }

    // 删除
    function remove(name) {
        const r = confirm('确定删除吗')
        if (r) {
            location.href = '/remove?name=' + name
        }
    }

    // 查询
    function search() {
        // 跳转列表页并传入关键字作为参数
        location.href = '/?kw=' + si.value.trim()
    }
</script>
</html>